[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git

[submodule "third_party/mlpack"]
	path = third_party/mlpack
	url = https://github.com/mlpack/mlpack.git
